princulissart.ru, www.princulissart.ru {
	encode gzip zstd

	# Ограничение размера тела запроса на уровне прокси.
	# Приложение ограничивает тоже, но проксии дешевле отбить раньше.
	request_body {
		max_size 12MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}

	reverse_proxy app:3000
}
